<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="MY FACTORY">
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">admin12345</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@104.197.2.43:1521:XE</property>
        <property name="hibernate.connection.username">admin_matriculas</property>
        <property name="hibernate.default_schema">ADMIN_MATRICULAS</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    </session-factory>
</hibernate-configuration>
